<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    
        {% csrf_token %}
        <h3>Numero de intento</h3>
        <p>{{request.session.count}}</p>
        <h3>Palabra</h3>
        <p>{{word}}</p>
        <input type="button" value="Actualizar" onclick="location.reload()"/>
        <input type="button" value="Reiniciar" onclick="location.href='reset'">
    
</body>
</html>